  <div class="modal-header">
    <h4 class="modal-title" id="modalLabel"> Tipo de documento </h4>
    <button type="button" class="close" aria-label="Fechar" (click)="activeModal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center scroll">
    <ul *ngFor="let tipoDocumento of tiposDocumentos" class="list-group">
      <a class="removeUnderline" href="#" (click)="setaSelecionado($event, tipoDocumento)">
        <li class="list-group-item">
          <input type="text" class="form-control" id="descricao" name="descricao" value={{tipoDocumento.descricao}}>
        </li>
      </a>
    </ul>  
  </div>
  <div class="modal-footer">
    <button #btnNovo type="button" class="btn btn-outline-dark">Novo</button>
    <button #btnEditar type="button" class="btn btn-outline-dark" disabled>Editar</button>
    <button #btnExcluir type="button" class="btn btn-outline-dark" disabled>Excluir</button>
  </div>