  <div class="modal-header">
    <h4 class="modal-title" id="modalLabel"> Tipo de documento </h4>
    <button type="button" class="close" aria-label="Fechar" (click)="activeModal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body scroll">
    <table class="table table-bordered">
      <thead></thead>
      <tbody>
        <tr>
          <th></th>
          <th>Descrição</th>
        </tr>
        <tr *ngFor="let tipoDocumento of tiposDocumentos">
          <td>
            <input [disabled]="(isEditando==true || novoHabilitado==true)" type="checkbox" (change)="configuraTipoSelecionado($event, tipoDocumento)"/>
          </td>
          <td>
            <p>
              <input [disabled]="tipoDocumentoSelecionado != tipoDocumento || novoHabilitado==true" type="text" class="form-control" id="descricao" name="descricao" value={{tipoDocumento.descricao}} [(ngModel)]="tipoDocumento.descricao">
            </p>
          </td>
        </tr>
        <tr [hidden]="!novoHabilitado==true">
          <td>
            <input type="checkbox"/>
          </td>
          <td>
            <p>
              <input type="text" class="form-control" id="descricaoNovo" name="descricaoNovo" [(ngModel)]="novoTipoDocumento.descricao" required>
            </p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <div class="modal-footer">
    <button [disabled]="tipoDocumentoSelecionado!=undefined" #btnNovo type="button" class="btn btn-outline-dark" (click)="habilitarNovoTipo()">Novo</button>
    <button [disabled]="(novoTipoDocumento.descricao==null || novoTipoDocumento.descricao=='') && isEditando==false" #btnSalvar type="button" class="btn btn-outline-dark" (click)="salvar()">Salvar</button>
    <button [disabled]="tipoDocumentoSelecionado==undefined" #btnCancelar type="button" class="btn btn-outline-dark" (click)="cancelar()" disabled>Cancelar</button>
    <button [disabled]="tipoDocumentoSelecionado==undefined" #btnExcluir type="button" class="btn btn-outline-dark" (click)="excluir()" disabled>Excluir</button>
  </div>