<app-cabecalho></app-cabecalho>
<div class="wrapper">
  <button type="button" class="btn btn-primary coluna1-linha1" [routerLink]="['/manutencaoDocumentos']">
    Manutenção de documentos
  </button>
  <button type="button" class="btn btn-primary coluna2-linha1" [routerLink]="['#']">
    Esquemas de dados (Excel)
  </button>
  <button type="button" class="btn btn-primary coluna3-linha1" (click)="abrirModalTipoDocumento()">
    Tipos de documentos
  </button>
  <button type="button" class="btn btn-primary coluna1-linha2" [routerLink]="['#']">
    Editor de documentos
  </button>
  <button type="button" class="btn btn-primary coluna2-linha2" [routerLink]="['/manutencaoCamposVariaveis']">
    Manutenção de campos variáveis
  </button>
  <button type="button" class="btn btn-primary coluna3-linha2" [routerLink]="['#']">
    Consulta de documentos enviados
  </button>
</div>
<app-rodape></app-rodape>